* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    background-color: white;
}

h1 {
    color: #E53170;
    text-align: center;
    margin-bottom:20px;
    padding: 20px;
}

h2 {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px
}

.container {
    width: 1000px;
    margin: 0 auto;
}


.container-pics{margin: 0 auto;
background-color: yellow;
height: 300px;
width: 900px;
}

.face-pic{width: 100px;float:left;}

.profile{;color: white;
background-color: black;
width: 30%;
float: left;

}



.clearfix{content: "";
    clear: both;
    display: table;}