* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    background-color: white;
}

h1 {
    color: #E53170;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
}

h2 {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px
}

.container {
    width: 1000px;
    margin: 0 auto;
}


#container-pics {
    margin: 0 auto;

    height: 300px;
    width: 1200px;
}

.face-pic {
    width: 100px;
    float: left;
    margin-right: 5px
}

.profile {

    color: white;
    background-color: black;
    width: 30%;
    float: left;
    margin: 10px
    
}



.clearfix {
    content: "";
    clear: both;
    display: table;
    
}

.mail {
    color: #2682B7;
    font-size: 15px;
}

.name {
    font-weight: 700;
}

